<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  IgnorableNamespaces="uap rescap">

	<Identity
	  Name="11715Onionware.OnionMedia"
	  Publisher="CN=DEDBA644-CCA1-4BC1-A233-7FFFE9747007"
	  Version="1.1.1.0" />

	<Properties>
		<DisplayName>OnionMedia</DisplayName>
		<PublisherDisplayName>Onionware</PublisherDisplayName>
		<Logo>Images\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="en-US"/>
		<Resource Language="de-DE"/>
		<Resource Language="es"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="OnionMedia"
			  Description="ms-resource:AppDescription"
			  BackgroundColor="transparent"
			  Square150x150Logo="Images\Square150x150Logo.png"
			  Square44x44Logo="Images\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  ShortName="OnionMedia" Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png">
					<uap:ShowNameOnTiles>
						<uap:ShowOn Tile="square150x150Logo"/>
						<uap:ShowOn Tile="wide310x150Logo"/>
						<uap:ShowOn Tile="square310x310Logo"/>
					</uap:ShowNameOnTiles>
				</uap:DefaultTile >
				<uap:SplashScreen Image="Images\SplashScreen.png" />
			</uap:VisualElements>
			<Extensions>

				<desktop:Extension Category="windows.toastNotificationActivation">
					<desktop:ToastNotificationActivation ToastActivatorCLSID="657E1225-3DE3-4988-AAB7-337FC8F62943"/>
				</desktop:Extension>

				<com:Extension Category="windows.comServer">
					<com:ComServer>
						<com:ExeServer Executable="OnionMedia\OnionMedia.exe" Arguments="-ToastActivated" DisplayName="Toast activator">
							<com:Class Id="657E1225-3DE3-4988-AAB7-337FC8F62943" DisplayName="Toast activator"/>
						</com:ExeServer>
					</com:ComServer>
				</com:Extension>

			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>
